body {
    background-color: #7A918D;

}

a {
    color: #DBFEB8;
    text-decoration: none;
}

div {
    display: flex;
    border-radius: 10px;
    border-style: solid;
    border-color: #546461;
    font-family: Arial, Helvetica, sans-serif;
}